.cartoom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.stylecard{
    width: 300px;
    height: 500px;
    margin-bottom: 25px;
    margin-right: 80px;
    color: black;
}

.styleimg{
    border: red solid 3px;
    height: 200px;
}

.styleprod{
    font-size: 25px;
    text-decoration: none;
}

.stylenom{
    font-size: 35px;
}

.styleprecio{
    margin-top: 15px;
    margin-bottom: 35px;
}

