.cartoom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stylecard{
    
    height: 500px;
    margin-bottom: 25px;
    margin-right: 2px;
    color: black;
}

.styleimg{
    border: red solid 3px;
    height: 200px;
}

.styleprod{
    font-size: 20px;
    
}

.stylenom{
    font-size: 28px;
}

.styleprecio{
    margin-top: 15px;
    margin-bottom: 35px;
}

.new_styleprecio{
    margin-top: 0px;
    margin-bottom: 18px;
}