.counter{
    display: flex;
    justify-content: center;
}

.countersuma{
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
    border-radius: 10px;
}

.counterresta{
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
    border-radius: 10px;
}

.counternumero{
    margin-right: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bolder;
}

.counteragreg{
    background-color: blanchedalmond;
    border: black solid 1px;
    border-radius: 10px;
    font-weight: bolder;
}